* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./images/background.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  font-family: Poppins, sans-serif;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  margin: auto 5px;
}

.game-title {
  font-size: 36px;
  color: #f2f2f2;
  margin-bottom: 15px;
}

/* ----------Card-------- */
.card {
  max-width: 600px;
  background-color: white;
  position: relative;
  padding: 50px;
  border-radius: 24px;
}

.img-adventure {
  position: absolute;
  right: 0;
  top: -75px;
}
.card h3 {
  font-size: 24px;
  color: #2f527b;
}

/* ------Not Visible-------- */

.not-visible {
  display: none;
}

/* -----Credit------ */

.credit {
  margin: 10px auto;
  color: #f2f2f2;
  font-size: 13px;
}

.credit a {
  color: #f2f2f2;
  transition: 0.3s;
}

.credit a:hover {
  font-size: 1.1rem;
  color: #f9a826;
}

/* -------Media Queries--------- */

@media (max-width: 450px) {
  .game-title {
    font-size: 6.5vw;
  }
}
